<%- include ('../partials/header'); -%>
<div class="">
    <h1 class="h5">Liste dokumenata iz MongoDB za kategorije</h1>
    <br>
    <div class="col s12">
        <% if (kategorije.length > 0) { %>
            <% kategorije.forEach(function(kategorija, index) { %>
                <div class="card"><br>
                    <div class="card-body">
                        <div class="card-title">
                            <button class="btn btn-warning btn-sm float-right" type="button" data-toggle="collapse" data-target="#collapseExample-<%= kategorija._id %>"
                                aria-expanded="false" aria-controls="collapseExample">
                                Prikaži dokument
                            </button>
                            <strong><%= kategorija.createdAt.toISOString().substr(0, 19).replace('T', ' ') %> #<%= kategorija._id %></strong>
                        </div>
                        <div class="collapse" id="collapseExample-<%= kategorija._id %>">
                            <div class="card card-body">
                                <pre id="json"><%= JSON.stringify(kategorija, null, 4) %></pre>
                            </div>
                        </div>
                    </div>
                </div><br>
            <% }); %>
        <% } %>
    </div>
</div>

<script>
    function expandJSON(id) {
        document.getElementById(id).classList.remove('d-none');
    }
</script>
<%- include ('../partials/footer'); -%>
